
@{
    ViewBag.Title = "Авторизація";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TeacherRatings.ViewModels;
@model LoginViewModel


<link href="@Url.Content("~/Content/Registration.css")" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Вхід</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
          
                

                <div class="form-group">
                    <label for="Email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>

                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="Password" class="cols-sm-2 control-label">Пароль</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пароль" } })
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Увійти</button>
                </div>
            }

        </div>
    </div>
</div>
<br />

