@{
    ViewBag.Title = "CommonTeacherPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/TeacherPage.css")" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-4 col-md-5 col-sm-6">
            <div class="container-fluid">
                <br>
                <div>
                    <img src="@ViewBag.Teacher.Image" alt="">
                </div>
                <br>
                <div id="belowFoto">
                    <a href="/Teacher/TeacherPage" class="btn btn-primary">Статистика</a>
                    <a href="/Teacher/Value?teacherId=@ViewBag.Teacher.TeacherId" class="btn btn-primary">Оцінити викладача</a>
                    <div id="thumbsUp">
                        <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> <span>4</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-lg-8 col-md-7 col-sm-6">
            <h2>@ViewBag.Teacher.LastName</h2>
            <h2>@ViewBag.Teacher.Name @ViewBag.Teacher.Patronymic </h2>
            <h3>Кафедра: @ViewBag.Department</h3>
            <br />
            <h3>Предмети:</h3>
            @foreach (var s in ViewBag.Subjects)
            {
                <p>@s.Name</p>
            }
            <h3>Інформація</h3>
            <p>
                @ViewBag.Teacher.Information
            </p>
            <hr>

            @RenderBody()

        </div>
    </div>
</div>
<br>