@{
    Layout = "~/Views/Shared/CommonTeacherPage.cshtml";
}
@using TeacherRatings.ViewModels;
@model TeacherPageViewModel
<div class="container-fluid">
    <div class="row">
        <h2>Оцінки</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="tabs">
         
            @*<ul class="nav nav-tabs" id="tabRating">
                <li class="active"><a href="#firstTab" data-toggle="tab">Цікавість викладання</a></li>
                <li><a href="#secondTab" data-toggle="tab">Зрозумілість викладання</a></li>
                <li><a href="#thirdTab" data-toggle="tab">Об'єктивність оцінювання</a></li>
                <li><a href="#fourthTab" data-toggle="tab">Підготовленість викладача</a></li>
                <li><a href="#fifthTab" data-toggle="tab">Значення дисципліни</a></li>
                <li><a href="#sixthTab" data-toggle="tab">Ставлення до студентів</a></li>
                <li><a href="#seventhTab" data-toggle="tab">Вимогливість викладача</a></li>
                <li><a href="#eighthTab" data-toggle="tab">Відвідування пар студентами</a></li>
            </ul>*@

            <ul class="nav nav-tabs" id="tabRating">
                @foreach (var cr in ViewBag.Criterias)
                {
                    <li><a href="TeacherPageJson/?teacherid=@ViewBag.Teacher.TeacherId&criterianame=@cr.CriteriaName" data-toggle="tab" data-ajax="true" data-ajax-success="OnSuccess">@cr.CriteriaText</a></li>
                }
            </ul>
            <div class="tab-content">
                <div id="initSvg" style="display:none">
                    <p id="CountVoices">@Model.CountVoices</p>
                    <p id="voice1">@Model.voices[0]</p>
                    <p id="voice2">@Model.voices[1]</p>
                    <p id="voice3">@Model.voices[2]</p>
                    <p id="voice4">@Model.voices[3]</p>
                    <p id="voice5">@Model.voices[4]</p>
                </div>
                <div id="PartialTab">
                    <div class="tab-pane  in active" id="firstTab">
                        <div>
                            <span><span id="oneRating"></span>-1</span>
                            <span><span id="twoRating"></span>-2</span>
                            <span><span id="threeRating"></span>-3</span>
                            <span><span id="fourRating"></span>-4</span>
                            <span><span id="fiveRating"></span>-5</span>
                            <span id="firstVoices" class="voices"></span>
                        </div>

                    </div>
                </div>

              
                <div id="TabSvg">

                </div>
            </div>


            <hr>
            <div class="container-fluid">
                <div class="row">
                    <h2>Коментарі</h2>
                    <div>
                        <textarea name="comment" id="comment" cols="105" rows="4" maxlength="200"></textarea>
                        <button class="btn btn-default">Відправити коментар</button>
                    </div>
                    <br>
                    <div class="allComments">
                        <div class="commentInner">
                            <div class="img">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>

                            <div class="commentText">
                                Some text
                            </div>

                            <div class="likes">
                                <span class="plus">+</span>4<span class="minus">-</span>
                            </div>

                            <div class="commentDate">
                                12.03.2015 14:15
                            </div>

                            <div class="response"><a href="">Відповісти</a></div>
                        </div>
                        <br>

                        <div class="commentInner">
                            <div class="img">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>

                            <div class="commentText">
                                Other text
                            </div>

                            <div class="likes">
                                <span class="plus">+</span>4<span class="minus">-</span>
                            </div>

                            <div class="commentDate">
                                14.04.2015 18:34
                            </div>

                            <div class="response"><a href="">Відповісти</a></div>
                        </div>

                    </div>
                    <nav>
                        <div>
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>

        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/d3.js")
@Scripts.Render("~/PersonalScripts/Donat3D.js")
@Scripts.Render("~/PersonalScripts/TeacherPageScript.js")