@using TeacherRatings.Models;
@using System.Collections;
@model TeacherRatings.HelperClasses.CriteriaReturn
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Value</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm())
            {         
                int i = 0;                           
                foreach(var criteria in Model.Criterias)
                {
                    <p><h3>@ViewBag.Criterias[@i]</h3></p>
                    <p>                
                        1 : @Html.RadioButtonFor(x => x.Criterias[@i], "1");
                        2 : @Html.RadioButtonFor(x => x.Criterias[@i], "2");
                        3 : @Html.RadioButtonFor(x => x.Criterias[@i], "3");
                        4 : @Html.RadioButtonFor(x => x.Criterias[@i], "4");
                        5 : @Html.RadioButtonFor(x => x.Criterias[@i], "5");       
                    </p>
                    ++@i;
                }               
                <input type="submit" value="Добавить" />
            }
        </div>
    </body>
</html>
