@using TeacherRatings.Models;
@using System.Collections;
@model TeacherRatings.HelperClasses.CriteriaReturn

<link href="@Url.Content("~/Content/RadioValue.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/CommonTeacherPage.cshtml";
}
<div>
    @using (Html.BeginForm("Value", "Teacher", FormMethod.Post))
    {

        <input type="hidden" name="UserId" value="@Model.UserId">
        <input type="hidden" name="TeacherId" value="@Model.TeacherId">
        <div class="funkyradio">
            <h2>Предмети</h2>
            @foreach (var sub in ViewBag.Subjects)
            {

                <div class="funkyradio-primary" id="subjects">
                    <input type="radio" name="SubjectId" id="radio(@sub.SubjectId)" value="@sub.SubjectId" />
                    <label for="radio(@sub.SubjectId)">@sub.Name</label>
                </div>

            }
        </div>

        <br>
        int i = 0;
        <div>

            @foreach (var cr in ViewBag.Criterias)
            {
                <h3>@cr</h3>
                <div class="funkyradio">
                    <div class="funkyradio-danger">
                        <input type="radio" name="Criterias[@i]" id="radio1(@i)" value="1" />
                        <label for="radio1(@i)">1</label>
                    </div>
                    <div class="funkyradio-warning">
                        <input type="radio" name="Criterias[@i]" id="radio2(@i)" value="2" />
                        <label for="radio2(@i)">2</label>
                    </div>
                    <div class="funkyradio-default">
                        <input type="radio" name="Criterias[@i]" id="radio3(@i)" value="3" checked />
                        <label for="radio3(@i)">3</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="Criterias[@i]" id="radio4(@i)" value="4" />
                        <label for="radio4(@i)">4</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="radio" name="Criterias[@i]" id="radio5(@i)" value="5" />
                        <label for="radio5(@i)">5</label>
                    </div>
                </div>
                <br>
                { i++; }

            }
        </div>


        <input type="submit" class="btn btn-primary" value="Додать" />
    }
</div>

<script>
    $(function () {
        $("#subjects input").first().attr("checked", true);
    })
    //var elem=$(".alert.alert-success");
    //var mess = elem.text();
    //if (!mess) elem.css("display", "none");
    //else elem.css("display", "block");
</script>